<div class="card">
    <div style="border-radius: 100px; height: 200px; width: 200px; background-color: #F8FAF5; margin: 0 auto;">
        <img src="https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqa0ZJMVZ4Nm5GWGI5Skp5VkFGVW95ZFlVZ3hJZ3xBQ3Jtc0trb1hjY2l4VVVMWjdDVEV6RDVCcHhid1BZc0tYZlR0bV9PMkZacXI5b2x4d2t4RGs3UW5hMmx0U2JicVZ4S2NFakk5M2VvUU5OZ25YWGRuQ1ZpRlRkM0x6QmtCYjE0UVJSbDlMdzYzdEYzZERleDBuSQ&q=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2017%2F01%2F13%2F01%2F22%2Fok-1976099_1280.png&v=DLFPVr0r4P0"style="width: 188px;">
    </div>
    <h2>Order has been placed successfully</h2>
    <strong>Thanks you for shopping with us</strong>
    <h5 style="margin-top: 20px; margin-left: 40px; color: green;">Kindly Pay Amount&nbsp;<strong style="color: blue;">$ {{totalAmount}}</strong></h5>
</div>